Mtn Project Data Cleaning
4.17.24

In [18]:
import pandas as pd 

df = pd.read_csv('combined_data_all.csv')
df.head(5)

,Area ID,Elevation (ft),GPS,Area Name,State Name,Route ID,Climb Type,Climb Height (ft),Climb Height (m),Number of Pitches,First Ascent,Total Page Views,Page Views per Month,Grade YDS,Grade Font,Average Stars,Number of Votes
0,107294389,NaN,"31.52558, -111.25452",Tucson Mountains,Arizona,106745436,"Trad,",50.0,15.0,NaN,"JST, EFR","1,313",8.0,5.7+,NaN,1.3,6.0
1,107294389,NaN,"31.52558, -111.25452",Tucson Mountains,Arizona,106745478,"Sport,",50.0,15.0,NaN,"StBr, JsSh,JSt","1,202",7.0,5.9+,NaN,1.5,6.0
2,107294389,NaN,"31.52558, -111.25452",Tucson Mountains,Arizona,106745503,"Sport,",50.0,15.0,NaN,"Ryan, JSt, EFR","1,225",7.0,5.9,NaN,1.7,7.0
3,107294389,NaN,"31.52558, -111.25452",Tucson Mountains,Arizona,106745518,"Trad,",50.0,15.0,NaN,"EFR, JSt",741,4.0,5.10c/d,NaN,2.3,4.0
4,107294389,NaN,"31.52558, -111.25452",Tucson Mountains,Arizona,106745539,"Sport,",50.0,15.0,NaN,"EFR, JSt","1,203",7.0,5.11a,NaN,2.0,6.0


Here are the percentages of missing values in the dataset, sorted by the highest missing rate:

Number of Pitches: 93.08% missing
Grade Font: 61.20% missing
Number of Votes: 36.22% missing
Average Stars: 36.22% missing
Climb Height (ft): 16.30% missing
Climb Height (m): 16.30% missing
Elevation (ft): 13.80% missing
Grade YDS: 2.70% missing
First Ascent: 1.78% missing

Next steps:
remove Grade Font -- remaining analysis will be in YDS
review number of pitches -- since high missing rate, drop num of pitches

In [19]:
# drop Grade Font -- remaining analysis will be in YDS
data_clean = df.drop(columns=['Grade Font'])
# Drop rows where 'Grade YDS' is missing
data_clean = data_clean.dropna(subset=['Grade YDS'])

In [20]:
# remove data with Climb Height (m) > 30,000m
data_clean = data_clean[data_clean['Climb Height (m)'] <= 1500]

In [21]:
# save cleaned data to csv
data_clean.to_csv('cleaned_dat.csv', index=False)